body{
    margin: 0px 0px 0px 0px;
}

.base{
    display: flex;
    width: 100%;
    height: 350px;
    text-align: center;
    background-color: rgba(70,73,80,255);
}

.nombre{
    margin-top: 120px;
    margin-left: 750px;
    color: azure;
}

.perfil{
    position: absolute;
    width: 400px;
    height: 837px;
    margin: 30px 45px;
    background-color: rgba(208,219,221,255);
    color: black;
    padding: 50px 0px 0px 0px;
}

.datos-personales{
    text-align: left;
    margin-left: 90px;
}
.datos-perfil{
    margin: 0px 70px;
}

.img{
    margin: 10px;
    width: 250px;
    height: 250px;
    border-radius: 170px;
}

p{
    font-size: 19px;
}

.cursos{
    position: absolute;
    margin: 320px 500px;
    width: 1300px;
    height: 600px;
    background-color: rgba(208,219,221,255);
    font-size: larger;
}

.botones{
    display: flex;
    margin-left: 500px;
}

.btn{
    background-color: black;
    color: aliceblue;
    width: 130px;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    margin: 10px;
    padding: 5px 10px;
    border: 5px groove rgb(0, 255, 255);
    border-radius: 15px;
}

.btn:hover{
    background-color: black;
    color: rgb(2, 128, 238);
}